.navBar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto  ;
        z-index: 2;
}
.main{
        margin: 0px 0px 32px 0px;
}
@media screen and (max-width:600px) {
   .main{
        margin: 0px 0px 0px 0px;
        /* padding: 0px 8px 0px 8px; */
        
        /* border: 2px solid red; */
   }     
}
