.container{
    width:fit-content;
    height: auto;
    padding: 4px;
    margin: 0px 0px 2px 0px;
    border-radius: 8%;
    background-color: var(--primary-color);
    color:var(--text-on-primary-color)
}

.label{
    /* border: 2px solid red; */
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}