.container{
    border-radius: 50%;
    width: 98px;
    height: 98px;
    background-color: var(--primary-color);
    opacity: 1;
    /* border: 2px solid red; */
}

.container:hover{
    background-color: var(--secondary-color);
}

.triangle{
    fill: var(--text-on-primary-color);
}
