.container{
    width: 100%;
    text-align: justify;
    color: #2A2A2A;
    max-width: 100%;
    
    
    
    
}

.container h1{
    color: var(--primary-color);
}

.container h6{
    margin: 0px 0px 0px 0px;
}

.buttonContainer{
    margin: auto;
    text-align: center;
    background-color:var(--secondary-color);
    width:160px;
    height:60px;
    font-weight:bold;
    padding: 19px 0px 0px 0px;
    color:var(--text-on-primary-complement);
    border-radius: 8px;
}

.buttonContainer a:hover{
    color: var(--primary-color);
}

.buttonLink{
    cursor: pointer;
    
}

.container ul li{
    
    font-size: 14px;
}

.listContainer{
    margin: 0px 0px 32px 0px;
}
@media screen and (max-width:600px){
    .container{
        margin: auto;
        max-width: 98vw;
    }

    .container h1{
        text-align: center;
        font-size: 26px;
    }
    .container h5{
        margin: 0px 8px 0px 8px;
    }
    .container h6{
        margin: 0px 8px 0px 8px;
    }
    .container ul{
        margin: 32px 0px 0px 0px;
        text-align: center;
        width: 90vw;
    }
    .container li{
        text-align: center;
    }
    
}

@media screen and (min-width:600px){
    .container{
        margin: auto;
        /* border: 2px solid red; */
    }
    .container h5{
        margin: 0px 0px 0px 0px;
    }
    .container ul{
        margin: 32px 0px 0px 0px;
        width: 90%;
    }
    .container ul li{
        text-align: center;
    }
    
}


